<template>
<body class="container-fluid">
    <h1>Publier un nouvel article !</h1>

<ArticleForm @submit="handleSubmit($event)"/>
</body>



</template>

<script setup lang="ts">
import ArticleForm from '@/components/ArticleForm.vue';
import type { Articles } from '@/entities';
import { postOneArticle } from '@/service/article-service';
import { useRouter } from 'vue-router';

const router = useRouter();

async function handleSubmit(article : Articles) {
    const added = await postOneArticle(article);
    //dog.value = await postDog(dog.value); //Si on veut faire le feedback sans redirection
    router.push("/article/"+added.id);
}


</script>

<style scoped>
h1{
    margin-top :5rem;
    text-align: center;
    text-decoration: underline 1px #091E57;
}


</style>
