<template>

<h1>Tous les user du blog Harmonie</h1>
<hr>
<UserCard v-for="item of userList" :user="item"> </UserCard>



</template>

<script setup lang="ts">
import UserCard from '@/components/UserCard.vue';
import type { User } from '@/entities';
import { fetchAllUsers } from '@/service/auth-service';
import { onMounted, ref } from 'vue';


const userList = ref<User[]>([])


onMounted(async () => {
    userList.value = await fetchAllUsers();
});


</script>
<style scoped>

hr{
    width: 50%;
    border: solid 1px rgb(30, 28, 150);
}

</style>