<template>

<h1>Bonjour {{ auth.user?.name }} !</h1>



<h2>Vos articles</h2>

<div class="articles">
    <ArticleCard v-for="item of articlesOfUser" :article="item"></ArticleCard>
</div>




</template>

<script setup lang="ts"> 
import { fetchArticleOfUser } from '@/service/article-service';
import { useAuth } from '@/stores/auth';
import type {Articles}  from '@/entities'
import { onMounted, ref } from 'vue';
import ArticleCard from '@/components/ArticleCard.vue';



const auth = useAuth();
const articlesOfUser = ref<Articles[]>([]);
onMounted(async () => {
    articlesOfUser.value = await fetchArticleOfUser();
});


</script>

<style scoped>
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem;
}
</style>