<template>
    <form @submit.prevent="handleSubmitt()">
        
        <label>
            <p>Le titre de l'article</p>
            <input type="text" v-model="article.title" placeholder="Titre de l'article">
        </label>
        
        <label for="exampleFormControlTextarea1" class="form-label">Contenu de l'article</label>
        <textarea v-model="article.content" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Contenu de l'article"></textarea>
        <label>
            <p>L'url de votre image phare</p>
            <input type="text" v-model="article.picture" placeholder="l'URL">
            <img  :src="article.picture" alt="">
        </label>
        <label>
            <p>Categorie de votre article</p>
            <select id="" v-model="article.categorie">
                    <option v-for="item of categorieList" :value="item">{{ item.name }}
                    </option>
            </select>

        </label>
        
        
        <button>Soumettre</button>
    
    </form>

    

    
    </template>

<script setup lang="ts">
import type { Articles, Categorie } from '@/entities';
import { fetchAllCategorie } from '@/service/categorie-service';
import { onMounted, ref } from 'vue';

const categorieList = ref<Categorie[]>([]);
console.log(fetchAllCategorie());

onMounted(async () => {
    categorieList.value = await fetchAllCategorie();
});

const emit = defineEmits<{
    submit : [article: Articles]
}>()

const {initialArticle} = defineProps<{
    initialArticle?:Articles
}>();

const article = ref<Articles>({
    title:"",
    content:"",
    picture:"",
    categorie: "" ,
    date:"",
    comments:"",
    vue: 0,
    ...initialArticle
});
async function handleSubmitt(){
    emit ('submit', article.value);
    console.log(article.value)
}

</script>

<style scoped>

form{
    display: flex;
    flex-direction: column;
}
label{
    margin: 1rem;
}
button{
    width: 20%;
    background:  #091E57;
    border: none;
    color: #e9e8d6d2;
    font-weight: 700;
    border-radius: 30px;
}
img{
    width: 20%;
}

</style>
