<template>


    <div class="nono">
    <div class="card" style="width: 18rem;">
        <img :src="article.picture" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">{{ article.title }}</h4>
            <RouterLink :to="'/article/'+article.id" class="btn">Voir l'article</RouterLink>
        </div>
    </div>
</div>
</template>



<script setup lang="ts">
import type { Articles } from '@/entities';
import { deleteArticle } from '@/service/article-service';
import { useAuth } from '@/stores/auth';
import { ref } from 'vue';
import { RouterLink, useRouter } from 'vue-router';

const auth = useAuth();
const router = useRouter();

defineProps<{
    article: Articles;

}>();




</script>

<style scoped>
.card {
    border-bottom: #091E57 3px solid;
    border-left: #091E57 3px solid;
    border-top: #3264af 1px solid;
    border-right: #3264af 1px solid;

}


h3 {
    font-weight: 600;
    font-size: 1.3rem;
}
.btn{
    background:#e9e8d6d2 ;
    border: 0.0001px solid #091E57;
    color:#091E57 ;
}
.card-body{
    color: #091E57;
    font: 700;
    background:#fff;
    
}


</style>
