<template>

<h3>{{ categorie.name }}</h3>
<hr>
</template>

<script setup lang="ts">
import type { Categorie } from '@/entities';


defineProps<{
    categorie: Categorie;

}>();

</script>

<style scoped>
h3{
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 2rem;

}
hr{
    
    border: none;
    width: 20%;
    margin-left: 2rem;
    border: 0.0001px solid #BC455E;
    margin-bottom: 2rem;

}

</style>