<template>
<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
        <img class="navbar-brand" src="/src/img/logoblue-removebg-preview.png" id="icon">
        <button class="navbar-toggler" @click="navOpen=!navOpen" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" :class="{ 'show': navOpen }" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><RouterLink class="nav-link" to="/">Accueil</RouterLink></li>
                    <li v-for="categorie in categories" :key="categorie.id" class="nav-item">
                    <RouterLink :to="'/categorie/' + categorie.id" class="nav-link">{{ categorie.name }}</RouterLink></li>
                    <li class="nav-item"><RouterLink v-if="auth.user" to="/add-article" class="nav-link">Ajouter un article</RouterLink></li>
                    <li class="nav-item" ><RouterLink class="nav-link" to="/login" v-if="!auth.user">Se connecter</RouterLink></li>
                    <li class="nav-item" ><i v-if="auth.user" id="nav-link" @click="auth.logout" class="fa-solid fa-right-from-bracket"></i></li>
                    <li class="nav-item"><RouterLink to="/pageUser" ><i v-if="auth.user" id="nav-link" class="fa-regular fa-user"></i></RouterLink></li>
                    <li class="nav-item" v-if="auth.user?.role == 'ROLE_ADMIN'"><RouterLink to="/allUsers" class="nav-link"> ALL USERS</RouterLink></li>
            </ul>
        </div>
    </div>
    
</nav>
</template>

<script setup lang="ts">
import type { Categorie } from '@/entities';
import { fetchAllCategorie } from '@/service/categorie-service';
import { onMounted, ref } from 'vue';
import { RouterLink } from 'vue-router';
import { useAuth } from '@/stores/auth';

const auth = useAuth();



const navOpen = ref(false);
const categories = ref<Categorie[]>([]);
onMounted(async () =>{
    categories.value = await fetchAllCategorie();
});



</script>

<style scoped>
#navbar {
    background: #e9e8d6d2;
    border-bottom: #091E57 0.5px solid;
    padding: 0;
    margin: 0;
}

#navbar li{
    font-weight: 500;
    
}

#icon {
    width: 5rem;
}
.nav-link{
    color:#3264af;
    padding: 1.3rem;
}
.nav-item :hover{
    text-decoration: underline 1px #fff;
    background: #091E57;
    color: #fff;
}
#nav-link{
    color:#3264af;
    padding: 1.5rem;
}
</style>