<template>
    <div class="row col-lg-5" id="space">
        <div class="col">
            <span class="input-group-text">@ {{ user.email }}</span>
        </div>
        <div class="col">
            <i  data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="fa-regular fa-eye"></i>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Profil de {{ user.name }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span class="input-group-text">@ {{ user.email }}</span>
                        <input type="text" v-model="user.name">
                        <select class="form-select" aria-label="Default select example" v-model="user.role">
                            <option selected>{{ user.role }}</option>
                            <option value="ROLE_ADMIN">Role ADMIN</option>
                            <option value="ROLE_USER">Role USER</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-bs-dismiss="modal">Partir</button>
                        <button type="button" data-bs-dismiss="modal">Enregistrer les modification</button>
                        <button type="button" data-bs-dismiss="modal">Supprimer le user</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


        


</template>

<script setup lang="ts">
import type { User } from '@/entities';
import { deleteUser } from '@/service/auth-service';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();

const user = ref<User>()

defineProps<{
    user: User;

}>();

// async function handleDelete() {
//     try {

//         await deleteUser(user.id);
//         router.push('/allUsers');
//     } catch {
//         console.log('marche pa');

//     }
// }
</script>

<style scoped>
#space {
    margin: 2rem;
}
i{
    cursor: pointer;
}
</style>